fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
python-multipart
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dateutil
email-validator
pytest
pytest-asyncio
pytest-cov
pytest-xdist
httpx
requests
dotenv
coverage
beautifulsoup4
torch
torchvision
torchaudio
sentence-transformers
numpy
scikit-learn
websockets
websocket-client
wsaccel
websocket-client[http-proxy]